<div class="p-3 is-justify-content-center">
  <div class="is-flex-direction-column">
    <p><a href="http://{{url}}" target="_blank">{{name}}</a></p>
    <p class="has-text-weight-light">{{comment_area}}</p>
  </div>

  <div>
    <a class="is-pulled-right" href="/dashboard/edit-item/{{id}}"><img
        src="https://img.icons8.com/pastel-glyph/20/000000/edit--v1.png"
      /></a>
    <a class="is-pulled-right" href="/dashboard/delete-item/{{id}}"><img
        src="https://img.icons8.com/ios/20/000000/delete-trash.png"
      /></a>
  </div>
</div>