<div>
  <div>
    <p class="name">{{name}}</p>
    <p class="display_url">{{display_url}}</p>
    <p class="comment_area">{{comment_area}}</p>

  </div>
  <div>
    <p class="url">{{url}}</p>
  </div>

  <div>
    <a href="/dashboard/edit-item/{{id}}">Edit item</a>
    <a href="/dashboard/delete-item/{{id}}">Delete item</a>
  </div>

</div>