<div>
  <div>
    <p id="name">{{name}}</p>
    <p id="display_url">{{display_url}}</p>
    <p id="comment_area">{{comment_area}}</p>

  </div>
  <div>
    <p id="url">{{url}}</p>
  </div>

  <div>
    <a href="/edit-item/{{id}}">Edit item</a>
    <a href="/{{id}}">Delete item</a>
  </div>

</div>